@model ClothBazar.Web.ViewModels.EditProductViewModels
@{
    ViewBag.Title = "Edit";
}

<h2>Edit product</h2>

@*<form id="editproduct">
    <input type="hidden" name="Id" value="@Model.Id" />
    <label>Product Name</label>
    <input name="name" value="@Model.Name" />
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <label>Price</label>
    <input name="Price" value="@Model.Price" />
    <br />
    <button id="updateBtn" type="button">update</button>
</form>*@

<form id="editproduct">
    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Id" />
        <label>Category</label>
        <select class="form-control" name="CategoryID">
            @foreach (var category in Model.AvaliableCategories)
            {
                var selected = category.Id == Model.CategoryId ? "selected" : string.Empty;
                <option value="@category.Id" @selected>@category.Name</option>
            }
        </select>

    </div>
    <div class="form-group">
        <label class="form-control">Product Name</label>
        <input name="name" class="form-control" value="@Model.Name" />
    </div>
    <div class="form-check">
        <label class="form-control">Description</label>
        <input name="Description" class="form-control" value="@Model.Description" />
    </div>
    <div class="form-check">
        <label class="form-control">Price</label>
        <input name="Price" class="form-control" value="@Model.Price" />
    </div>
    <button id="updateBtn" class="btn btn-danger" type="button">Update</button>
</form>


<script>
    $("#updateBtn").click(function () {

        $.ajax({
            type: 'post',
            url: '@Url.Action("edit", "Product")',//'/Product/Edit',
            data: $('#editproduct').serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });
</script>
