@model ClothBazar.Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    //var fifthcatergory = Model.FeaturedCategories.Where(category => category.ImageURL != null).First();
    //var firstcategory = Model.FeaturedCategories[0];
    //var secondcategory = Model.FeaturedCategories[1];
    //var thirdcategory = Model.FeaturedCategories[2];
    // var forthcategory = Model.FeaturedCategories[3];
}

<div class="banner">
    <div class="container">
        <div class="banner-bottom">
            <div class="banner-bottom-left">
                <h2>B<br>U<br>Y</h2>
            </div>
            <div class="banner-bottom-right">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider4">
                        <li>
                            <div class="banner-info">
                                <h3>Smart But Casual</h3>
                                <p>Start your shopping here...</p>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <h3>Shop Online</h3>
                                <p>Start your shopping here...</p>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <h3>Pack your Bag</h3>
                                <p>Start your shopping here...</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <!--banner-->
                <script src="~/Content/js/responsiveslides.min.js"></script>
                <script>
                    // You can also use "$(window).load(function() {"
                    $(function () {
                        // Slideshow 4
                        $("#slider4").responsiveSlides({
                            auto: true,
                            pager: true,
                            nav: false,
                            speed: 500,
                            namespace: "callbacks",
                            before: function () {
                                $('.events').append("<li>before event fired.</li>");
                            },
                            after: function () {
                                $('.events').append("<li>after event fired.</li>");
                            }
                        });

                    });
                </script>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<hr />
@if(Model.FeaturedCategories!=null&Model.FeaturedCategories.Count>=4)
{
    var firstcategory = Model.FeaturedCategories[0];
    var secondcategory = Model.FeaturedCategories[1];
    var thirdcategory = Model.FeaturedCategories[2];
    var forthcategory = Model.FeaturedCategories[3];

<section class="flat-row row-image-box">
    <div class="container">
        <div class="row gutter-10">
            <div class="col-sm-6 col-md-4">
                <div class="flat-image-box style-1 data-effect div-h22 clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            @if (firstcategory != null)
                            {
                                <div class="thumb">
                                    <img src="@firstcategory.ImageURL" alt="Image" />
                                    <div class="ele-btn">
                                        <a href="#" class="themesflat-button bg-white width-150">@firstcategory.Name</a>
                                    </div>
                                    <div class="overlay-effect bg-color-1"></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="flat-image-box style-1 data-effect div-h22 clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            @if (secondcategory != null)
                            {
                                <div class="thumb">
                                    <img src="@secondcategory.ImageURL" alt="Image" />
                                    <div class="ele-btn">
                                        <a href="#" class="themesflat-button bg-white width-150">@secondcategory.Name</a>
                                    </div>
                                    <div class="overlay-effect bg-color-1"></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="item data-effect-item">
                        <div class="inner">
                            @if (thirdcategory != null)
                            {
                                <div class="thumb">
                                    <img src="@thirdcategory.ImageURL" alt="Image" />
                                    <div class="ele-btn">
                                        <a href="#" class="themesflat-button bg-white width-150">@thirdcategory.Name</a>
                                    </div>
                                    <div class="overlay-effect bg-color-1"></div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="flat-image-box style-1 data-effect div-h22 clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            @if (forthcategory != null)
                                {
                                    <div class="thumb">
                                        <img src="@forthcategory.ImageURL" alt="Image" />
                                        <div class="ele-btn">
                                            <a href="#" class="themesflat-button bg-white width-150">@forthcategory.Name</a>
                                        </div>
                                        <div class="overlay-effect bg-color-1"></div>
                                    </div>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}
<section class="flat-row row-product-new">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margine-button-52">
                    <h2 class="title">
                        New Product
                    </h2>
                </div>
                @{Html.RenderAction("products", "Widgets", new { IsLatestProducts = true });
                }
            </div>
        </div>
    </div>
</section>
<section class="flat-row row-product-new">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margine-button-52">
                    <h2 class="title">
                        Best Sales
                    </h2>
                </div>
                
                    @{Html.RenderAction("products", "Widgets", new { IsLatestProducts = false });
                    }
                
            </div>
        </div>
    </div>
</section>

<script>
    //var flatIsotope = function () {
        //if ($().isotope) {
        //    var $container = $('.isotope-product');
        //    $container.imagesloaded(function () {
        //        $container.isotope({
        //            itemSelector: '.product-item',
        //            transitionDuration: '1s',
        //            layoutMode: 'fitRows'
        //        });
        //    })
        //    $('.flat-filter li').on('click', function () {
        //        var selector = $(this).find("a").attr('data-filter');
        //        $('.flat-filter li').removeClass('active');
        //        $(this).addClass('active');
        //        $container.isotope({ filter: selector });
        //        return false;
        //    })
        //}
    //}
</script>
